name: Record Workflow
description: Record pre/post build data for dashboard

inputs:
  enabled:
    description: "Turn workflow recording On/Off"
    default: true
  project:
    description: "Project name for build workflow recording"
    required: true
  stage:
    description: "Pre/post build"
    required: false
  workflow-name:
    description: "Build workflow name"
    required: true
  record-mode:
    description: "Build data record or update mode"
    required: true
  status:
    description: "Build workflow pass/fail status"
    required: true
  run-id:
    description: "Build workflow run-id"
    required: true
  arch-name:
    description: "Workflow matrix build arch name"
    required: true

runs:
  using: "composite"
  steps:
    - name: Record ${{ inputs.stage }}build entry
      if: ${{ inputs.enabled }} == "true"
      shell: bash
      run: |
        cd ${{ inputs.project }}
        branch_name="${{github.event.pull_request.head.ref}}"
        echo $branch_name
        DASH_DIR="$(mktemp -d)"
        cp .github/workflows/scripts/record_builds.py ${DASH_DIR}/
        git config --global user.name 'github-actions'
        git config --global user.email 'github-actions@github.com'
        # Switch to dashboard branch to access build-status.db
        git fetch --all
        git checkout dashboard
        git reset --hard origin/dashboard
        ls -l
        : '
        Multiple workflows and parallel matrix builds write to
        build-status.db file. This causes race condition, stale DB or
        git latest ref conflicts.
        check_lock() is called throughout this workflow to make
        sure build data is written to current DB file.
        '
        check_lock() {
          FILE_PATH="data.lock"
          # Checks for build data lock.
          while [ -f "$FILE_PATH" ]; do
            echo "Wait for data lock to be removed..."
            sleep 10
            git fetch --all
            git reset --hard origin/dashboard
            git pull
            ls -l
          done
          echo "Data lock removed"
        }
        check_lock
        # After data lock is released by other workflows, a lock is acquired for current workflow.
        echo "Adding ${{ inputs.workflow-name }} ${{ inputs.arch-name }} data lock."
        touch data.lock
        git add .
        git commit -m "Add data lock for ${{ inputs.workflow-name }} ${{ inputs.arch-name }} build status data to be written"
        # Keep trying until a data lock is pushed successfully.
        until git push -f origin HEAD:refs/heads/dashboard; do
          sleep 5
          check_lock
          git fetch --all
          git reset --hard origin/dashboard
          touch data.lock
          git add .
          git commit -m "Add data lock for ${{ inputs.workflow-name }} ${{ inputs.arch-name }} build status data to be written"
        done
        # Record build status data for current workflow.
        echo "Proceeding with data recording..."
        cp ${DASH_DIR}/record_builds.py .
        # Set +e to not immediately exit "run" step on failure.
        set +e
        python record_builds.py --workflow ${{ inputs.workflow-name }} --${{ inputs.record-mode }} --${{ inputs.status }} --run-id ${{ inputs.run-id }} --arch ${{ inputs.arch-name }} --branch $branch_name
        EXITCODE=$?
        if [ "$EXITCODE" -ne 0 ]; then
           echo "Build Data Recording Failed!"
           echo "Removing Data Lock and Cleaning Up..."
           rm -f record_builds.py
           rm -f data.lock
           git add .
           git commit -m "Removing ${{ inputs.workflow-name }} ${{ inputs.arch-name }} data lock."
           until git push -f origin HEAD:refs/heads/dashboard; do
            sleep 5
            check_lock
            git fetch --all
            git reset --hard origin/dashboard
            rm -f data.lock
            git add .
            git commit -m "Removing ${{ inputs.workflow-name }} ${{ inputs.arch-name }} data lock."
          done
          rm -rf ${DASH_DIR}
          git checkout -
        else
          cp build-status.db ${DASH_DIR}/
          rm -f record_builds.py
          echo "Removing ${{ inputs.workflow-name }} ${{ inputs.arch-name }} data lock."
          rm -f data.lock
          git add .
          git commit -m "Add ${{ inputs.workflow-name }} ${{ inputs.arch-name }} build status data in DB"
          # Keep trying until lock/conflicts are resolved and build data is pushed successfully.
          until git push -f origin HEAD:refs/heads/dashboard; do
            sleep 5
            check_lock
            git fetch --all
            git reset --hard origin/dashboard
            cp -f ${DASH_DIR}/build-status.db .
            rm -f data.lock
            git add .
            git commit -m "Add ${{ inputs.workflow-name }} ${{ matrix.arch.name }} build status data in DB"
          done
          rm -rf ${DASH_DIR}
          git checkout -
        fi