* {
  font-family: sans-serif;
  background-color: #212529;
}

th {
    cursor: pointer;
}

.dark-table {
  background-color: #212529;
  color: #f8f9fa;
  border-collapse: collapse;
  width: 100%;
}

.dark-table th,
.dark-table td {
  padding: 8px;
  border: 1px solid #495057;
  text-align: left;
}

.dark-table th {
  background-color: #343a40;
}

.dark-table tbody tr:nth-child(even) {
  background-color: #2c3034;
}

.dark-table tbody tr:hover {
  background-color: #3a3f44;
}