name: Nightly builder for testing eld against musl-test-suite
on:
  schedule:
      - cron: '0 2 * * *' # 2:00 AM
  workflow_dispatch:     # Allows manual triggering
  pull_request:
    paths:
      - ".github/workflows/nightly-musl-builder.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test-musl-x86_64:
    runs-on: ubuntu-latest
    env:
      ELD_SOURCE_DIR: llvm-project/llvm/tools/eld
    steps:
      - name: Checkout eld
        uses: actions/checkout@v4
        with:
          path: llvm-project/llvm/tools/eld

      - name: Record pre-build entry
        uses: ./llvm-project/llvm/tools/eld/.github/workflows/BuildStatusDataRecorder
        with:
          enabled: true
          project: "llvm-project/llvm/tools/eld"
          stage: "pre-"
          workflow-name: "musl"
          record-mode: "record"
          status: "fail"
          run-id: ${{github.run_id}}
          arch-name: "x86-64"

      - name: Install dependencies
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y libc++-dev libc++abi-dev \
            libclang-rt-20-dev make

      - name: Set up Clang 20
        uses: egor-tensin/setup-clang@v1
        with:
          version: "20"
          platform: x64

      - name: Verify clang installation
        shell: bash
        run: |
          clang --version
          clang++ --version

      - uses: ./llvm-project/llvm/tools/eld/.github/workflows/FetchNightlyToolset

      - name: Setup ELD Environment
        run: |
          echo "PATH=$PWD/install/bin:$PATH" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=$PWD/obj/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV

      - name: Download and Build musl
        run: |
          git clone --depth 1 https://github.com/bminor/musl.git
          cd musl
          CC=clang CXX=clang++ ./configure --prefix=$PWD/../musl-install
          make -j$(nproc)
          make install

      - name: Configure build environment and toolchain
        run: |
          # Set environment variables for subsequent steps
          echo "LD=eld" >> $GITHUB_ENV
          echo "PATH=$PWD/musl-install/bin:$PWD/install/bin:$PATH" >> $GITHUB_ENV
          echo "CC=$PWD/musl-install/bin/musl-clang" >> $GITHUB_ENV
          echo "CFLAGS=-Wno-unused-command-line-argument" >> $GITHUB_ENV

      - name: Download and Setup libc-test
        run: |
          git clone --depth 1 https://repo.or.cz/libc-test.git
          cd libc-test
          cp config.mak.def config.mak
          sed -i 's/LDFLAGS += -g/LDFLAGS += -g -static/' config.mak
          sed -i '1s/$/ -Wno-parentheses/' config.mak

      - name: Build and test libc-test with ELD + musl
        run: |
          cd libc-test
          make -j$(nproc) 2>&1 | tee build.log

      - name: Validate test results with FileCheck
        run: |
          cd libc-test
          FileCheck --check-prefixes=CHECK ../llvm-project/llvm/tools/eld/test/musl/x86_64/static/test-failures.txt < src/REPORT
          FileCheck --check-prefixes=COUNT ../llvm-project/llvm/tools/eld/test/musl/x86_64/static/test-failures.txt < src/REPORT

          echo "Test results validated"

      - name: Update build entry
        uses: ./llvm-project/llvm/tools/eld/.github/workflows/BuildStatusDataRecorder
        with:
          enabled: true
          project: "llvm-project/llvm/tools/eld"
          stage: "post-"
          workflow-name: "musl"
          record-mode: "update"
          status: "pass"
          run-id: ${{github.run_id}}
          arch-name: "x86-64"

  test-musl:
    strategy:
      fail-fast: false
      matrix:
        arch: [arm, aarch64, riscv32, riscv64]
    runs-on: ubuntu-latest
    env:
      ELD_SOURCE_DIR: ${{ github.workspace }}/llvm-project/llvm/tools/eld
    steps:
      - name: Checkout eld
        uses: actions/checkout@v4
        with:
          path: llvm-project/llvm/tools/eld

      - name: Record pre-build entry
        uses: ./llvm-project/llvm/tools/eld/.github/workflows/BuildStatusDataRecorder
        with:
          enabled: true
          project: "llvm-project/llvm/tools/eld"
          stage: "pre-"
          workflow-name: "musl"
          record-mode: "record"
          status: "fail"
          run-id: ${{github.run_id}}
          arch-name: ${{ matrix.arch }}

      - uses: ./llvm-project/llvm/tools/eld/.github/workflows/FetchNightlyToolset

      - name: Install dependencies
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y libc++-dev libc++abi-dev ccache \
            libclang-rt-20-dev cmake ninja-build make qemu-user

      - name: Setup toolchain
        run: |
          arm_toolchain_name_suffix=""
          if [[ ${{ matrix.arch }} == "arm" ]]; then
            arm_toolchain_name_suffix="eabi"
          fi
          echo "arm_toolchain_name_suffix=${arm_toolchain_name_suffix}" >> $GITHUB_ENV
          wget https://github.com/cross-tools/clang-cross/releases/download/20251023/${{ matrix.arch }}-unknown-linux-musl${arm_toolchain_name_suffix}.tar.xz
          mkdir toolchain
          tar -xvf ${{ matrix.arch }}-unknown-linux-musl${arm_toolchain_name_suffix}.tar.xz -C toolchain --strip-components=1
          echo "PATH=$PWD/toolchain/bin:$PATH" >> $GITHUB_ENV
          echo "TOOLCHAIN_ROOT=$(pwd)/toolchain" >> $GITHUB_ENV

      - name: Download musl libc-test
        run: |
          git clone --depth 1 https://repo.or.cz/libc-test.git

      - name: Setup musl libc-test environment
        shell: bash
        run: |
          cd libc-test
          which grep
          which which
          cp config.mak.def config.mak
          cat >>config.mak <<EOF
            CFLAGS += -Wno-error -Wno-strict-prototypes -Wno-switch-bool -Wno-c23-extensions
            LDFLAGS += --ld-path=$(which ld.eld) -Wl,--image-base=0x1000
          EOF
          cat >qemu-${{ matrix.arch }}-wrapper.sh <<EOF
          #!/usr/bin/bash
          qemu-${{ matrix.arch }} -L ${TOOLCHAIN_ROOT}/${{ matrix.arch }}-unknown-linux-musl${arm_toolchain_name_suffix}/sysroot "\$@"
          EOF
          chmod +x ./qemu-${{ matrix.arch }}-wrapper.sh
          cat config.mak
          cat qemu-${{ matrix.arch }}-wrapper.sh

      - name: Run musl libc-test suite
        run: |
          cd libc-test
          CC=${{ matrix.arch }}-unknown-linux-musl${arm_toolchain_name_suffix}-clang make RUN_WRAP="$(pwd)/qemu-${{ matrix.arch }}-wrapper.sh"

      - name: Upload libc-test
        uses: actions/upload-artifact@v4
        with:
          name: libc-test-${{ matrix.arch }}.zip
          path: libc-test

      - name: Validate test results with FileCheck
        run: |
          cd libc-test
          FileCheck --check-prefixes=CHECK ${ELD_SOURCE_DIR}/test/musl/${{ matrix.arch }}/test-failures.txt < src/REPORT
          FileCheck --check-prefixes=COUNT ${ELD_SOURCE_DIR}/test/musl/${{ matrix.arch }}/test-failures.txt < src/REPORT
          echo "Test results validated"

      - name: Update build entry
        uses: ./llvm-project/llvm/tools/eld/.github/workflows/BuildStatusDataRecorder
        with:
          enabled: true
          project: "llvm-project/llvm/tools/eld"
          stage: "post-"
          workflow-name: "musl"
          record-mode: "update"
          status: "pass"
          run-id: ${{github.run_id}}
          arch-name: ${{ matrix.arch }}
